.contenidos{
    background-color: aqua;

    border-spacing: 10px;
    border: 2px;
    border-style: double;
}
.problemas{
    background-color: aqua;
    border: 2px;
    border-style: double;
}

.grado {
    background-color: aqua;
    padding: 1px;
    font-size:20px ;
}
.niveles{
    background-color: rgb(181, 194, 4);
    margin: 10px;
font-size: 20px;


}
p{
    margin: 2%;
}

.nivel{ box-shadow: 27px 10px 50px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 27px 10px 50px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 27px 10px 50px 0px rgba(0,0,0,0.75);
}